*{
    margin : 0;
    padding : 0;
    text-align: center;
}
h1 {
    background-color:#7fffd4;
    color:#000000;
    height:  5rem;
    line-height: 5rem;
}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}

img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    background-color: #fdbea6;
    border-radius: 50%;
 }
 
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
 }

 .board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-bottom: 3rem;
 }

#user,#comp{ 
    margin-top: 50px;  
    font-size: 4rem;
 }
 
#msg{

    background-color: aquamarine;
    color: black;
    line-height: 4rem;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    display: inline;
    padding: 1rem;
    
    border-radius: 1rem;
}
